.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
}

.forecast_container {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 2px 2px #7d7d7d;
}


.forecast_parent h2 {
    background: #ddd;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    height: 60px;
   padding-top: 10px;
   box-shadow: 0 0 10px #000;

}

.forecast_container {
    margin: 20px;
}

.loader-spinner {
background: #ddd;
height: 100vh;
text-align: center;;

}

.forecast_min_max {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-evenly;
    width: 100%;
    color: #7d7d7d;
}

.forecast_wind {
    font-size: 10px;
    color: #7d7d7d;
}

.current-weather-btn {
    font-size: 20px;
}

.loader-spinner > div {
    justify-content: center;
}